.cardTrainersLefHeader{
/* border-left: 3px solid #8860d0; */
	padding-left: 5px;
}
.cardTrainersLeftDetail {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
	grid-gap: 2em;
	margin-top: 30px;
}

.cardTrainerPageRight {
  margin-left: 10px;
}

.cardTrainersRightButton {
  width: 100%;
  margin-bottom: 10px;
}

.cardTrainerPageButtonTop {
  background-color: #8860d0;
  border-radius: 10px;
  border: none;
  color: #ffffff;
  font-weight: 700;
  margin-bottom: 10px;
  padding: 15px;
  width: 100%;
}

.cardTrainerPageButtonTop:hover {
	cursor: pointer;
	background-color: #26778d;
}

.cardTrainerPageButton {
  background-color: #1795c7;
  border-radius: 10px;
  border: none;
  color: #ffffff;
  font-weight: 700;
  padding: 15px;
  width: 100%;
}
.cardTrainerPageButton:hover {
	cursor: pointer;
	background-color: #1e83ac;
}

.cardTrainerPageChoose {
  font-size: 1.5rem;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 1px 15px 0px rgb(51 51 51 / 20%);
}

.cardTrainerPageChoose p {
  margin-bottom: 25px;
}

.cardTrainerPageChoose span {
  font-weight: bold;
}

.cardTrainerPageButtonChoose {
  background: rgb(15, 101, 217);
  background: linear-gradient(
    90deg,
    rgba(15, 101, 217, 1) 0%,
    rgb(86 130 218) 100%
  );
  border-radius: 8px;
  border: none;
  color: #ffffff;
  font-weight: 700;
  margin-top: 10px;
  padding: 10px;
  width: 100%;
}

.cardTrainerPageButtonChoose a{
  color: #ffffff !important;
}

.caroselImg {
  background-color: transparent;
  /* box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75); */
  border-radius: 8px;
   /* padding: 10px; */
  margin: 10px 0;
  position: relative;
  height: 395px;
  overflow: hidden;
}